name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Hugo 0.118
        run: |
          wget https://github.com/gohugoio/hugo/releases/download/v0.118.0/hugo_extended_0.118.0_Linux-64bit.tar.gz
          tar -xvf hugo_extended_0.118.0_Linux-64bit.tar.gz
          sudo mv hugo /usr/local/bin/hugo

      - name: Build Hugo site
        run: hugo --minify

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          channelId: live

